body {
  margin:0px;
  background-image:url('../../images/修订历史/bg.jpg');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:100px 100px;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5244 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u5245 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'KaiTi';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#27BF8C;
}
#u5247 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-family:'KaiTi';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#27BF8C;
}
#u5248 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u5249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5249 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5250 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u5251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5251 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5252 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u5253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5253 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5254 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u5255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(39, 191, 140, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 191, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5255 {
  position:absolute;
  left:0px;
  top:60px;
  width:1200px;
  height:40px;
}
#u5256 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5257 {
  position:absolute;
  left:200px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5258 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u5259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5259 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5260 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u5261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5261 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5262 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u5263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5263 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5264 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u5265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5265 {
  position:absolute;
  left:200px;
  top:127px;
  width:103px;
  height:20px;
}
#u5266 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u5267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5267 {
  position:absolute;
  left:200px;
  top:200px;
  width:159px;
  height:20px;
}
#u5268 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u5269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5269 {
  position:absolute;
  left:200px;
  top:267px;
  width:159px;
  height:20px;
}
#u5270 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u5271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5271 {
  position:absolute;
  left:200px;
  top:338px;
  width:145px;
  height:20px;
}
#u5272 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5273 {
  position:absolute;
  left:200px;
  top:407px;
  width:113px;
  height:20px;
}
#u5274 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5275 {
  position:absolute;
  left:200px;
  top:480px;
  width:197px;
  height:40px;
}
#u5276 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u5277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5277 {
  position:absolute;
  left:200px;
  top:550px;
  width:173px;
  height:20px;
}
#u5278 {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  white-space:nowrap;
}
#u5279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5279 {
  position:absolute;
  left:200px;
  top:619px;
  width:211px;
  height:56px;
}
#u5280 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u5281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5281 {
  position:absolute;
  left:200px;
  top:688px;
  width:145px;
  height:20px;
}
#u5282 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u5283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5283 {
  position:absolute;
  left:200px;
  top:762px;
  width:131px;
  height:40px;
}
#u5284 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
