body {
  margin:0px;
  background-image:url('../../images/修订历史/bg.jpg');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:100px 100px;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u231 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'KaiTi';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#27BF8C;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-family:'KaiTi';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#27BF8C;
}
#u234 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u235 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u236 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u237 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u238 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u239 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u240 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(39, 191, 140, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 191, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  position:absolute;
  left:0px;
  top:60px;
  width:1200px;
  height:40px;
}
#u242 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u243 {
  position:absolute;
  left:200px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u244 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u245 {
  position:absolute;
  left:300px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u246 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u247 {
  position:absolute;
  left:400px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u248 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u249 {
  position:absolute;
  left:500px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u250 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u251 {
  position:absolute;
  left:600px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u252 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u253 {
  position:absolute;
  left:150px;
  top:150px;
  width:210px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u254 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u255 {
  position:absolute;
  left:150px;
  top:220px;
  width:905px;
  height:95px;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u257 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u258 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u259 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u260 {
  position:absolute;
  left:200px;
  top:0px;
  width:600px;
  height:30px;
  color:#FFFFFF;
  text-align:left;
}
#u261 {
  position:absolute;
  left:2px;
  top:6px;
  width:596px;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u262 {
  position:absolute;
  left:800px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u263 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u264 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u265 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u266 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u267 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u268 {
  position:absolute;
  left:200px;
  top:30px;
  width:600px;
  height:30px;
  text-align:left;
}
#u269 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u270 {
  position:absolute;
  left:800px;
  top:30px;
  width:100px;
  height:30px;
  text-align:left;
}
#u271 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u272 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u273 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u274 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u275 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:30px;
}
#u276 {
  position:absolute;
  left:200px;
  top:60px;
  width:600px;
  height:30px;
  text-align:left;
}
#u277 {
  position:absolute;
  left:2px;
  top:7px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u278 {
  position:absolute;
  left:800px;
  top:60px;
  width:100px;
  height:30px;
  text-align:left;
}
#u279 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u280 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u281 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u282 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u283 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u284 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u285 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
