body {
  margin:0px;
  background-image:url('../../images/修订历史/bg.jpg');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:100px 100px;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u1 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'KaiTi';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#27BF8C;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-family:'KaiTi';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#27BF8C;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(39, 191, 140, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 191, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:0px;
  top:60px;
  width:1200px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:200px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:300px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u19 {
  position:absolute;
  left:400px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u20 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21 {
  position:absolute;
  left:500px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  position:absolute;
  left:600px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u25 {
  position:absolute;
  left:150px;
  top:150px;
  width:210px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:150px;
  top:232px;
  width:965px;
  height:249px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:34px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:34px;
  color:#FFFFFF;
  text-align:center;
}
#u29 {
  position:absolute;
  left:2px;
  top:8px;
  width:155px;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:34px;
}
#u30 {
  position:absolute;
  left:159px;
  top:0px;
  width:623px;
  height:34px;
  color:#FFFFFF;
  text-align:center;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:619px;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:34px;
}
#u32 {
  position:absolute;
  left:782px;
  top:0px;
  width:178px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u33 {
  position:absolute;
  left:2px;
  top:8px;
  width:174px;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u34 {
  position:absolute;
  left:0px;
  top:34px;
  width:159px;
  height:30px;
  text-align:center;
}
#u35 {
  position:absolute;
  left:2px;
  top:6px;
  width:155px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:30px;
}
#u36 {
  position:absolute;
  left:159px;
  top:34px;
  width:623px;
  height:30px;
  text-align:left;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:619px;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u38 {
  position:absolute;
  left:782px;
  top:34px;
  width:178px;
  height:30px;
  text-align:center;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u40 {
  position:absolute;
  left:0px;
  top:64px;
  width:159px;
  height:30px;
  text-align:center;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:30px;
}
#u42 {
  position:absolute;
  left:159px;
  top:64px;
  width:623px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u44 {
  position:absolute;
  left:782px;
  top:64px;
  width:178px;
  height:30px;
  text-align:center;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u46 {
  position:absolute;
  left:0px;
  top:94px;
  width:159px;
  height:30px;
  text-align:center;
}
#u47 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:30px;
}
#u48 {
  position:absolute;
  left:159px;
  top:94px;
  width:623px;
  height:30px;
  text-align:left;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u50 {
  position:absolute;
  left:782px;
  top:94px;
  width:178px;
  height:30px;
  text-align:center;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u52 {
  position:absolute;
  left:0px;
  top:124px;
  width:159px;
  height:30px;
  text-align:center;
}
#u53 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:30px;
}
#u54 {
  position:absolute;
  left:159px;
  top:124px;
  width:623px;
  height:30px;
  text-align:left;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u56 {
  position:absolute;
  left:782px;
  top:124px;
  width:178px;
  height:30px;
  text-align:center;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u58 {
  position:absolute;
  left:0px;
  top:154px;
  width:159px;
  height:30px;
  text-align:center;
}
#u59 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:30px;
}
#u60 {
  position:absolute;
  left:159px;
  top:154px;
  width:623px;
  height:30px;
  text-align:left;
}
#u61 {
  position:absolute;
  left:2px;
  top:7px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u62 {
  position:absolute;
  left:782px;
  top:154px;
  width:178px;
  height:30px;
  text-align:center;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u64 {
  position:absolute;
  left:0px;
  top:184px;
  width:159px;
  height:30px;
  text-align:center;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:30px;
}
#u66 {
  position:absolute;
  left:159px;
  top:184px;
  width:623px;
  height:30px;
  text-align:left;
}
#u67 {
  position:absolute;
  left:2px;
  top:7px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u68 {
  position:absolute;
  left:782px;
  top:184px;
  width:178px;
  height:30px;
  text-align:center;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:30px;
}
#u70 {
  position:absolute;
  left:0px;
  top:214px;
  width:159px;
  height:30px;
  text-align:center;
}
#u71 {
  position:absolute;
  left:2px;
  top:7px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:30px;
}
#u72 {
  position:absolute;
  left:159px;
  top:214px;
  width:623px;
  height:30px;
  text-align:left;
}
#u73 {
  position:absolute;
  left:2px;
  top:7px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:30px;
}
#u74 {
  position:absolute;
  left:782px;
  top:214px;
  width:178px;
  height:30px;
  text-align:center;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u76 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u77 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u78 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u79 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
