body {
  margin:0px;
  background-image:url('../../images/修订历史/bg.jpg');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:100px 100px;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6808 {
  position:absolute;
  left:100px;
  top:120px;
  width:1000px;
  height:100px;
}
#u6809 {
  position:absolute;
  left:2px;
  top:42px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6810 {
  position:absolute;
  left:210px;
  top:144px;
  width:40px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u6811 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u6812 {
  position:absolute;
  left:210px;
  top:182px;
  width:41px;
  height:15px;
  color:#999999;
}
#u6813 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6814 {
  position:absolute;
  left:815px;
  top:140px;
  width:94px;
  height:18px;
  color:#666666;
}
#u6815 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u6816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u6816 {
  position:absolute;
  left:815px;
  top:158px;
  width:118px;
  height:18px;
  color:#666666;
}
#u6817 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u6818_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:57px;
}
#u6818 {
  position:absolute;
  left:964px;
  top:140px;
  width:2px;
  height:54px;
}
#u6819 {
  position:absolute;
  left:2px;
  top:19px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u6820 {
  position:absolute;
  left:130px;
  top:140px;
  width:60px;
  height:60px;
}
#u6821 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6822 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u6823 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'KaiTi';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#27BF8C;
}
#u6825 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-family:'KaiTi';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#27BF8C;
}
#u6826 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u6827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6827 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6828 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u6829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6829 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6830 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u6831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(33, 38, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(33, 38, 54, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6831 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6832 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u6833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(39, 191, 140, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 191, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6833 {
  position:absolute;
  left:0px;
  top:60px;
  width:1200px;
  height:40px;
}
#u6834 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6835 {
  position:absolute;
  left:200px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6836 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u6837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6837 {
  position:absolute;
  left:300px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6838 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u6839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#666666;
}
#u6839 {
  position:absolute;
  left:524px;
  top:160px;
  width:152px;
  height:40px;
  font-size:28px;
  color:#666666;
}
#u6840 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u6841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
}
#u6841 {
  position:absolute;
  left:580px;
  top:140px;
  width:41px;
  height:20px;
  font-size:14px;
  color:#666666;
}
#u6842 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6843 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6844 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u6845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6845 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6846 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u6847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6847 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6848 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u6849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6850 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6851 {
  position:absolute;
  left:113px;
  top:343px;
  width:145px;
  height:260px;
}
#u6852 {
  position:absolute;
  left:2px;
  top:122px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:345px;
}
#u6853 {
  position:absolute;
  left:100px;
  top:300px;
  width:170px;
  height:345px;
}
#u6854 {
  position:absolute;
  left:2px;
  top:164px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u6855 {
  position:absolute;
  left:175px;
  top:353px;
  width:21px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u6856 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u6857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u6857 {
  position:absolute;
  left:118px;
  top:355px;
  width:12px;
  height:11px;
  font-size:10px;
}
#u6858 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  word-wrap:break-word;
}
#u6859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6859 {
  position:absolute;
  left:113px;
  top:370px;
  width:145px;
  height:20px;
}
#u6860 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6861 {
  position:absolute;
  left:113px;
  top:391px;
  width:145px;
  height:20px;
}
#u6862 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6863 {
  position:absolute;
  left:120px;
  top:375px;
  width:33px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6864 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6865 {
  position:absolute;
  left:120px;
  top:396px;
  width:57px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6866 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6867 {
  position:absolute;
  left:243px;
  top:371px;
  width:11px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6868 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u6869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6869 {
  position:absolute;
  left:243px;
  top:392px;
  width:11px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6870 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u6871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6871 {
  position:absolute;
  left:113px;
  top:412px;
  width:145px;
  height:20px;
}
#u6872 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6873 {
  position:absolute;
  left:120px;
  top:417px;
  width:57px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6874 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6875 {
  position:absolute;
  left:243px;
  top:413px;
  width:11px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6876 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u6877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6877 {
  position:absolute;
  left:113px;
  top:502px;
  width:145px;
  height:20px;
}
#u6878 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6879 {
  position:absolute;
  left:120px;
  top:507px;
  width:33px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6880 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6881 {
  position:absolute;
  left:243px;
  top:503px;
  width:11px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6882 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u6883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6883 {
  position:absolute;
  left:113px;
  top:460px;
  width:145px;
  height:20px;
}
#u6884 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6885 {
  position:absolute;
  left:120px;
  top:465px;
  width:17px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6886 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u6887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6887 {
  position:absolute;
  left:243px;
  top:461px;
  width:11px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6888 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u6889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6889 {
  position:absolute;
  left:113px;
  top:553px;
  width:145px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6890 {
  position:absolute;
  left:2px;
  top:4px;
  width:141px;
  word-wrap:break-word;
}
#u6891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6891 {
  position:absolute;
  left:228px;
  top:373px;
  width:15px;
  height:15px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:5px;
  color:#999999;
}
#u6892 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  word-wrap:break-word;
}
#u6893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6893 {
  position:absolute;
  left:113px;
  top:481px;
  width:145px;
  height:20px;
}
#u6894 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6895 {
  position:absolute;
  left:120px;
  top:486px;
  width:33px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6896 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6897 {
  position:absolute;
  left:243px;
  top:482px;
  width:11px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6898 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u6899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6899 {
  position:absolute;
  left:113px;
  top:523px;
  width:145px;
  height:20px;
}
#u6900 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6901 {
  position:absolute;
  left:120px;
  top:528px;
  width:41px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6902 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6903 {
  position:absolute;
  left:243px;
  top:524px;
  width:11px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6904 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u6905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6905 {
  position:absolute;
  left:113px;
  top:433px;
  width:145px;
  height:20px;
}
#u6906 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6907 {
  position:absolute;
  left:120px;
  top:438px;
  width:33px;
  height:11px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u6908 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6909 {
  position:absolute;
  left:243px;
  top:434px;
  width:11px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:center;
}
#u6910 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u6911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
}
#u6911 {
  position:absolute;
  left:100px;
  top:690px;
  width:93px;
  height:20px;
  font-size:14px;
  color:#666666;
}
#u6912 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u6913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:2px;
}
#u6913 {
  position:absolute;
  left:100px;
  top:715px;
  width:170px;
  height:1px;
}
#u6914 {
  position:absolute;
  left:2px;
  top:-8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u6915 {
  position:absolute;
  left:100px;
  top:726px;
  width:170px;
  height:23px;
  font-size:10px;
  color:#666666;
}
#u6916 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u6917_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:35px;
  height:21px;
}
#u6917p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:26px;
  height:1px;
}
#u6917p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:37px;
  height:21px;
}
#u6917p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u6917p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u6917p002 {
  position:absolute;
  left:23px;
  top:0px;
  width:2px;
  height:1px;
}
#u6917p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u6917.compound {
  width:0px;
  height:0px;
}
#u6917 {
  position:absolute;
  left:93px;
  top:360px;
  width:24px;
  height:1px;
}
#u6918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u6919 {
  position:absolute;
  left:3px;
  top:344px;
  width:90px;
  height:30px;
  font-size:10px;
  color:#FFFFFF;
}
#u6920 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
