body {
  margin:0px;
  background-image:url('../../images/修订历史/bg.jpg');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:100px 100px;
  position:relative;
  left:-0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u693 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'KaiTi';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#27BF8C;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
  font-family:'KaiTi';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#27BF8C;
}
#u696 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(48, 55, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(48, 55, 77, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u697 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u698 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(33, 38, 54, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(33, 38, 54, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u699 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u700 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u701 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u702 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:40px;
  background:inherit;
  background-color:rgba(39, 191, 140, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 191, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u703 {
  position:absolute;
  left:0px;
  top:60px;
  width:1200px;
  height:40px;
}
#u704 {
  position:absolute;
  left:2px;
  top:12px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u705 {
  position:absolute;
  left:200px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u706 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u707 {
  position:absolute;
  left:300px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u708 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u709 {
  position:absolute;
  left:400px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u710 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u711 {
  position:absolute;
  left:500px;
  top:65px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u712 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u714 {
  position:absolute;
  left:51px;
  top:121px;
  width:1000px;
  height:100px;
}
#u715 {
  position:absolute;
  left:2px;
  top:42px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u716 {
  position:absolute;
  left:161px;
  top:145px;
  width:40px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u718 {
  position:absolute;
  left:161px;
  top:183px;
  width:41px;
  height:15px;
  color:#999999;
}
#u719 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u720 {
  position:absolute;
  left:911px;
  top:141px;
  width:73px;
  height:18px;
  color:#666666;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u722 {
  position:absolute;
  left:911px;
  top:159px;
  width:125px;
  height:18px;
  color:#666666;
}
#u723 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u724 {
  position:absolute;
  left:81px;
  top:141px;
  width:60px;
  height:60px;
}
#u725 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u726 {
  position:absolute;
  left:504px;
  top:149px;
  width:161px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u727 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u728 {
  position:absolute;
  left:50px;
  top:457px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u729 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u730 {
  position:absolute;
  left:343px;
  top:350px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u731 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u732 {
  position:absolute;
  left:196px;
  top:457px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u733 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u734 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u735 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u736 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u737 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u738 {
  position:absolute;
  left:700px;
  top:0px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u739 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u740 {
  position:absolute;
  left:489px;
  top:457px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u741 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u742 {
  position:absolute;
  left:636px;
  top:457px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u743 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u744 {
  position:absolute;
  left:782px;
  top:457px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u745 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u746 {
  position:absolute;
  left:929px;
  top:457px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u747 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u748 {
  position:absolute;
  left:349px;
  top:563px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u749 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 191, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u750 {
  position:absolute;
  left:489px;
  top:563px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u751 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(39, 191, 140, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u752 {
  position:absolute;
  left:349px;
  top:670px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u753 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u754 {
  position:absolute;
  left:150px;
  top:482px;
  width:0px;
  height:0px;
}
#u754_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u754_seg1 {
  position:absolute;
  left:33px;
  top:-10px;
  width:20px;
  height:20px;
}
#u755 {
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756 {
  position:absolute;
  left:246px;
  top:457px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u756_seg0 {
  position:absolute;
  left:-4px;
  top:-86px;
  width:8px;
  height:86px;
}
#u756_seg1 {
  position:absolute;
  left:-4px;
  top:-86px;
  width:101px;
  height:8px;
}
#u756_seg2 {
  position:absolute;
  left:84px;
  top:-92px;
  width:20px;
  height:20px;
}
#u757 {
  position:absolute;
  left:-42px;
  top:-91px;
  width:100px;
  word-wrap:break-word;
}
#u758 {
  position:absolute;
  left:296px;
  top:482px;
  width:0px;
  height:0px;
  color:#009DD9;
}
#u758_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:197px;
  height:8px;
}
#u758_seg1 {
  position:absolute;
  left:180px;
  top:-10px;
  width:20px;
  height:20px;
}
#u759 {
  position:absolute;
  left:46px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u760 {
  position:absolute;
  left:246px;
  top:507px;
  width:0px;
  height:0px;
  color:#27BF8C;
}
#u760_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u760_seg1 {
  position:absolute;
  left:-4px;
  top:77px;
  width:107px;
  height:8px;
}
#u760_seg2 {
  position:absolute;
  left:90px;
  top:71px;
  width:20px;
  height:20px;
}
#u761 {
  position:absolute;
  left:-39px;
  top:72px;
  width:100px;
  word-wrap:break-word;
}
#u762 {
  position:absolute;
  left:399px;
  top:613px;
  width:0px;
  height:0px;
}
#u762_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u762_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u763 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u764 {
  position:absolute;
  left:449px;
  top:588px;
  width:0px;
  height:0px;
}
#u764_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u764_seg1 {
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u765 {
  position:absolute;
  left:-30px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u766 {
  position:absolute;
  left:443px;
  top:375px;
  width:0px;
  height:0px;
}
#u766_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u766_seg1 {
  position:absolute;
  left:92px;
  top:-4px;
  width:8px;
  height:86px;
}
#u766_seg2 {
  position:absolute;
  left:86px;
  top:69px;
  width:20px;
  height:20px;
}
#u767 {
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u768 {
  position:absolute;
  left:539px;
  top:563px;
  width:0px;
  height:0px;
}
#u768_seg0 {
  position:absolute;
  left:-4px;
  top:-56px;
  width:8px;
  height:60px;
}
#u768_seg1 {
  position:absolute;
  left:-10px;
  top:-63px;
  width:20px;
  height:20px;
}
#u769 {
  position:absolute;
  left:-50px;
  top:-36px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770 {
  position:absolute;
  left:589px;
  top:482px;
  width:0px;
  height:0px;
}
#u770_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u770_seg1 {
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u771 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772 {
  position:absolute;
  left:736px;
  top:482px;
  width:0px;
  height:0px;
}
#u772_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u772_seg1 {
  position:absolute;
  left:33px;
  top:-10px;
  width:20px;
  height:20px;
}
#u773 {
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774 {
  position:absolute;
  left:882px;
  top:482px;
  width:0px;
  height:0px;
}
#u774_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u774_seg1 {
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u775 {
  position:absolute;
  left:-26px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u776 {
  position:absolute;
  left:832px;
  top:507px;
  width:0px;
  height:0px;
}
#u776_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u776_seg1 {
  position:absolute;
  left:-297px;
  top:19px;
  width:301px;
  height:8px;
}
#u776_seg2 {
  position:absolute;
  left:-297px;
  top:0px;
  width:8px;
  height:27px;
}
#u776_seg3 {
  position:absolute;
  left:-303px;
  top:-7px;
  width:20px;
  height:20px;
}
#u777 {
  position:absolute;
  left:-196px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u778 {
  position:absolute;
  left:449px;
  top:695px;
  width:0px;
  height:0px;
  color:#009DD9;
}
#u778_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u778_seg1 {
  position:absolute;
  left:86px;
  top:-82px;
  width:8px;
  height:86px;
}
#u778_seg2 {
  position:absolute;
  left:80px;
  top:-89px;
  width:20px;
  height:20px;
}
#u779 {
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780 {
  position:absolute;
  left:246px;
  top:507px;
  width:0px;
  height:0px;
  color:#FF9900;
}
#u780_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:297px;
}
#u780_seg1 {
  position:absolute;
  left:-4px;
  top:289px;
  width:107px;
  height:8px;
}
#u780_seg2 {
  position:absolute;
  left:90px;
  top:283px;
  width:20px;
  height:20px;
}
#u781 {
  position:absolute;
  left:-50px;
  top:189px;
  width:100px;
  word-wrap:break-word;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
}
#u782 {
  position:absolute;
  left:349px;
  top:775px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u783 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u784 {
  position:absolute;
  left:489px;
  top:775px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u785 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u786 {
  position:absolute;
  left:349px;
  top:882px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u787 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u788 {
  position:absolute;
  left:399px;
  top:825px;
  width:0px;
  height:0px;
}
#u788_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u788_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u789 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u790 {
  position:absolute;
  left:449px;
  top:907px;
  width:0px;
  height:0px;
  color:#009DD9;
}
#u790_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u790_seg1 {
  position:absolute;
  left:86px;
  top:-82px;
  width:8px;
  height:86px;
}
#u790_seg2 {
  position:absolute;
  left:80px;
  top:-89px;
  width:20px;
  height:20px;
}
#u791 {
  position:absolute;
  left:36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792 {
  position:absolute;
  left:449px;
  top:800px;
  width:0px;
  height:0px;
}
#u792_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u792_seg1 {
  position:absolute;
  left:27px;
  top:-10px;
  width:20px;
  height:20px;
}
#u793 {
  position:absolute;
  left:-30px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u794 {
  position:absolute;
  left:636px;
  top:775px;
  width:100px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u795 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u796 {
  position:absolute;
  left:589px;
  top:800px;
  width:0px;
  height:0px;
}
#u796_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u796_seg1 {
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u797 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798 {
  position:absolute;
  left:686px;
  top:775px;
  width:0px;
  height:0px;
}
#u798_seg0 {
  position:absolute;
  left:-4px;
  top:-229px;
  width:8px;
  height:229px;
}
#u798_seg1 {
  position:absolute;
  left:-151px;
  top:-229px;
  width:155px;
  height:8px;
}
#u798_seg2 {
  position:absolute;
  left:-151px;
  top:-268px;
  width:8px;
  height:47px;
}
#u798_seg3 {
  position:absolute;
  left:-157px;
  top:-275px;
  width:20px;
  height:20px;
}
#u799 {
  position:absolute;
  left:-50px;
  top:-216px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
